*{
	font-family: 'Libre Caslon Text', serif;
}

body{

	margin: 0px;
	overflow: hidden;
}
div.container{
	position: relative;
	top: 0px;
	width: 100vw;
	height: 100vh;
	



}

div.body-text{
	position: absolute;
	font-weight: bold;

	font-size: 1.9em;

	/*color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
	width: 90%;
	
	padding: 5%;
	top: 20%;
	/*-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
	transform-origin: top left;

}

div.overlay
{
	position: absolute;
	
	width: 100%;
	height: 88%;
	z-index: 0;
}

@keyframes fire {
  from {background-color: white;}
  to {background-color: orange;}
}

img.pic{
	position: absolute;
	height: 100%;

	width: 100%;
	object-fit: cover;

}





.button
{
	position: absolute;
	width: 50%;
	height: 20%;
	
	cursor: pointer;
	bottom: 0px;
	z-index: 1;
	
	
	
}

.button#next:active
{
	background-color: khaki;
}

.button#next:focus
{
	background-color: khaki;
}

.button#back:active
{
	background-color: darkkhaki;
}

.button#back:focus
{
	background-color: darkkhaki;
}

.button#next{
	right: 0;
	background-color: gainsboro;
}

.button#back{
	left: 0;
	background-color: grey;
}


.arrow{
	position: absolute;
	right: 0;
	height: 100%;
}

@media only screen and (min-width: 500px){
	body{
		background-color: black;
	}
	div.container{
		width: 400px;
		height:100vh;

		margin: 0 auto;
		background-color: white;
		border-style: solid;
		border-width: 1px;
		border-color: white;

	}
	div.body-text{
		font-size: 2em;
	}

	.button
	{
		height: 12%;
	}

	img.pic{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}