

			div.key{
				font-family: Geneva;
			display: flex;
			position: fixed;
			justify-content: center;
			align-items: center;
			font-size: 1vw;

			border:solid;
			min-width: 40pt;
			min-height: 40pt;
			width: 4vw;
			height: 4vw;
			text-align: center;
			background-color: white;
			z-index: 1;
		}

		@media only screen and (max-width: 1200px) {
			div.key {
				font-size: 0.8em;

			}
		}

		p.label{
			opacity: 0;
			
			color: white;

			
		}

		div#next{
			top: 0px;
			right: 0px;
			border-top-style: none;
			border-right-style: none;
			

		}

		div#next:hover{
			background-color: white;

		}
		div#previous:hover{
			background-color: rgba(0, 183, 255, 1);

		}

		div#home:hover{
			background-color: black;
		}

		div.key:hover p{
			opacity: 1;
		}

		div#next p{
			color: black;
		}

		div#previous p{
			color: black;
		}
		div#previous{
			top: 0px;
			left: 0px;
			border-top-style: none;
			border-left-style: none;
			
		}
		div#home{
			bottom: 0px;
			left: 0px;
			border-bottom-style: none;
			border-left-style: none;
			
		}

		a.box{
			color: black;
		}
			div.content{
				border-style: solid;
				border-color: black;
				width: 1280px;
				height: 689px;
				position: relative;
				/*margin-right: auto;
				margin-left: auto;*/
				overflow: scroll;
				 top: 50vh;
  				left: 50vw;
  transform: translate(-50%, -50%);
				

			

			}

			body{
				margin: 0px;
			}